[uwsgi]
uid = user_name
base = /home/%(uid)/main_dir
root /home/%(uid)/main_dir/dir1/project_dir
home = %(base)/myvenv
chdir = %(base)/dir1/proejct_dir
uwsgi-file = %(chdir)/proejct_dir/wsgi.py
module = sample.wsgi:application
env = DJANGO_SETTINGS_MODULE=sample.settings
callable = application
master = True
processes = 5
socket = %(base)/dir2/uwsgi.sock
;for UDS(Unix Domain Socket)
;Default mode also can use UDS 
chmod-socket = 666
vacuum = True
pidfile = /tmp/emperor.pid
deamonize = /home/%(uid)/main_dir/dir2/emperor.log
;This is Emperor mode
;If you need to deploy a big number of apps on a single server, or a group of servers, the Emperor mode is just the ticket.
;Start command: sudo uwsgi --emperor /etc/wusgi/vassals --uid user_name gid group_name
;If you have emperor_wusgi.ini file, 
;Start command: sudo nginx -s reload && sudo uwsgi --ini /etc/uwsgi/uwsgi_emperor.ini
;Stop command: sudo nginx -s stop && sudo uwsgi --stop /tmp/emperor.pid
